.selectedImg {
    border: 1px solid;
    color: #0084ff;
}

.thumb {
    margin-bottom: 30px;
}

.printButton {
    position: fixed;
    top: 100px;
    left: 10px;
}

.saveButton {
    position: fixed;
    top: 50px;
    left: 10px;
}


@page Section1 {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

div.fullpage {
    page-break-after: always;
}

img.fullsize {
    position: relative;
    width: 100%;
    height: 100%;
}